<!doctype html>
<html>
<head>
	<title>QuakerCon - GS Computer Club</title>
	<link href="/static/bootstrap.min.css" rel="stylesheet">
	<link href="/static/custom.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">QuakerCon</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/downloads/">Downloads</a></li>
						<li><a href="/roster/">Roster</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">